<p>Dear <%= @user.name %>,</p>
<p>Congratulations!</p>
<p>Your account has been successfully created.</p>
<p>Welcome to Webonise Feedback Application - An Internal online Feedback system, in which you can Contribute and Receive feedback to/from the Team.</p>
<p>Please click <%= link_to "here","http://feedback.weboapps.com/users/#{@user.perishable_token}/new_password", :target => "_blank", :id => "set_password" %> to set your password and get started with Webonise Feedback Application. </p>
<p>&nbsp;</p>
<p>  Thank You</p>
<p>Webonise Team</p>
