
<div class="row">
  <div class="span5 offset3 login_container" >
    <%= form_tag "/users/forgot_password_reset", :class => "form-horizontal" do || %>
        <legend>Forgot Password</legend>
        <div class="control-group">
          <label class="control-label">
            Email
          </label>
          <div class="controls">
            <%= email_field_tag :email, params[:email], :placeholder => "Email", :required => true %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= submit_tag "submit", :class => "btn btn-inverse" %>
            <%= link_to "Cancel", root_path,:class => "btn" %>
          </div>
        </div>

    <% end %>

  </div>
</div>
<div class="row">
  <div class="span10 offset2 webonise_logo">
    <img src="/assets/weboniselab.png" >
  </div>
</div>
