<table class="table table-bordered">
  <colgroup>
    <col class="span3">
    <col class="span3">
    <col class="span3">
  </colgroup>
  <% if @feedbacks.length == 0 %>
      <caption>
        <h2>Feedback not Given!</h2>
      </caption>
  <% else %>
      <caption>
        <h2> Given Feedback List</h2>
      </caption>
      <thead>
      <tr style = "background-color: #A2AFCC;">
        <th>Weboniser</th>
        <th>Date</th>
        <th>Feedback</th>
      </tr>
      </thead>
      <% @feedbacks.each do |feedback| %>
          <tr>
            <td><%= user_name(feedback.to_id) %></td>
            <td><%= date(feedback.updated_at) %></td>
            <td><%= feedback.feedback %></td>
          </tr>
      <% end %>
  <% end %>
</table>
<%= page_navigation_links @feedbacks %>