<div class="pull-right">
  <input type="text" data-behaviour='datepicker' id="datepicker" >
  <%= link_to "search", nil, :class => "btn btn-info", :style => "margin-top:-9px; margin-left:-4px;", :remote => true, :id => "user-given-search" %>
</div>
<div id="user_given_feedback">
  <%= render :partial => "given_feedback", :locals => {:feedbacks => @feedbacks, :end_date => @end_date.strftime("%d-%b-%Y"), :begin_date => @begin_date.strftime("%d-%b-%Y")} %>
</div>
