<div class="body_bg">
  <div class="container">
    <div class="homepage_container">
      <div class="row" id="heading">
        <div class="span12">
          <h1 id="header_main">Welcome to Webonise Feedback System</h1>
        </div>
      </div> <!--row ends here-->
      <div class="row ">
        <div class="span12 ">
          <div class="span3 logo">
            <img src="/assets/webonise2.png">
          </div>
          <div class="span8 left_border_slider">
            <div id="slidyBanner" class="slidyContainer" title="Your tooltip text">
              <div class="slidySlides">
                <figure class="slidyCurrent">
                  <img src="/assets/slider_01.jpg" >
                </figure>
                <figure>
                  <img src="/assets/slider_02.jpg" >
                </figure>
                <!-- Slide 3 -->
                <figure>
                  <img src="/assets/slider_03.jpg" >
                </figure>
                <!-- Slide 4 -->
                <figure>
                  <img src="/assets/slider_04.jpg" >
                </figure>
              </div>
              <div class="moveNext"></div>
            </div>
            <div class="clearfix"></div>
          </div><!--homepage_container ends here-->
        </div><!--span ends here-->
      </div><!--row ends here-->
    </div>
    <div class="row" id="content_img">
      <div class="span12 ">

        <div class="homepage_container_thumbnail offset1">
          <div class="span3  ">
            <img src="/assets/thumbnails_img1.jpg">
            <h2>FEEDBACK</h2>
            <p>A positive feedback boosts the confidence of employees and improves their productivity. They feel appreciated, as their efforts are recognized, inspiring them to contribute better.</p>
          </div>
          <div class="span3 ">
            <img src="/assets/thumbnails_img2.jpg">
            <h2>FEEDBACK</h2>
            <p>A positive feedback boosts the confidence of employees and improves their productivity. They feel appreciated, as their efforts are recognized, inspiring them to contribute better.</p>
          </div>
          <div class="span3 ">
            <img src="/assets/thumbnails_img3.jpg">
            <h2>FEEDBACK</h2>
            <p>A positive feedback boosts the confidence of employees and improves their productivity. They feel appreciated, as their efforts are recognized, inspiring them to contribute better.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div><!--span12 ends here-->
    </div><!--row ends here-->
  </div><!--container ends here-->
</div>