
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../../assets/font/BebasNeue-webfont.eot');
    src: url('../../assets/font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/BebasNeue-webfont.woff') format('woff'),
    url('../../assets/font/BebasNeue-webfont.ttf') format('truetype'),
    url('../../assets/font/BebasNeue-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    margin: 0;
    padding: 60px;
    /*background: #f5f6f6;*/
}
.body_bg
{
    background: rgb(136,193,93); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(136,193,93,1) 0%, rgba(252,252,252,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(136,193,93,1)), color-stop(99%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(136,193,93,1) 0%,rgba(252,252,252,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(136,193,93,1) 0%,rgba(252,252,252,1) 99%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(136,193,93,1) 0%,rgba(252,252,252,1) 99%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(136,193,93,1) 0%,rgba(252,252,252,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c15d', endColorstr='#fcfcfc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 100%;
    width: 100%;
}
.feedback_Container
{
    margin-top: 50px;
    background: #84c225;
    border-radius: 10px;
    box-shadow: 0px 1px 8px #000;
    color: #fff;
    border: 1px solid #fff;
}
.feedback_Container_Caption
{
    font-family: Droid serif;
    color: #000;
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    text-shadow: 0px 1px 1px #fff;
    margin-bottom: 20px;
    font-weight: bold;
}
.table_padding
{
    padding: 20px;
}
#table_changes
{
    box-shadow: 0px 1px 8px #000;
}
#table_changes thead tr
{
    background: #323131;
    font-size: 20px;
    font-family: droid sans;
}
#table_changes thead tr th
{
    text-align: center;
}
#table_changes tbody tr
{
    background: #e8e8e8;
    color: #474747;
}
#table_changes tbody tr td
{
    line-height: 35px;
    font-family: droid sans;
    /*text-shadow: 0px 1px 0px #7a7a7a;*/
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

#table_changes tbody tr td .btn
{
    box-shadow: 0px 1px 3px #000;
    font-weight: bold;
}

.webonise_logo
{
    margin-top: 50px;
    width: 60%;
    height: 60%;
}


/* login page starts */

.login_container
{

    margin-top: 50px;
    padding-top: 25px;
    background: #84c225;
    border-radius: 10px;
    box-shadow: 0px 1px 8px #000;
    color: #fff;
    border: 1px solid #fff;
    min-width: 45%;

}

.login_container form div label
{
    color: #000;
    font-family: droid serif;
    text-shadow: 0px 1px 1px #5c5c5c;
    font-size: 16px;

}
.login_container form div button
{
    margin-top: 10px;
}
.login_container form legend
{
    border-bottom: 1px solid #fff ;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-family: sans ;
    font-size: 30px;
    color: #000;
    text-shadow: 0px 1px 1px #5c5c5c;
}

/* Homepage starts*/

.homepage_container
{
    /*margin-top: 50px;*/
    background: -moz-radial-gradient(center, ellipse cover, rgba(128,242,187,1) 0%, rgba(183,193,176,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(128,242,187,1)), color-stop(100%,rgba(183,193,176,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(128,242,187,1) 0%,rgba(183,193,176,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(128,242,187,1) 0%,rgba(183,193,176,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(128,242,187,1) 0%,rgba(183,193,176,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(128,242,187,1) 0%,rgba(183,193,176,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80f2bb', endColorstr='#00b7c1b0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 10px;
    box-shadow: 0 1px 8px #000;
    color: #fff;
    border: 1px solid #fff;
    padding-top: 20px;
    padding-bottom: 20px;

}
.homepage_container .row .span12
{
    padding-bottom: 20px;
    padding-top: 20px;
}
.header_text
{
    font-family: sans;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #393939;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.logo
{
    margin-left: 50px;
    border-right: 1px solid #000;
    padding-bottom: 70px;
}
.logo img
{
    margin-right: 5px;

}
.left_border_slider
{

}
#content_img
{
    margin-top: 20px;
}
#content_img .span12 .span3 img
{
    box-shadow: 0px 1px 8px #000;

}

.homepage_container_thumbnail
{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;

}
.homepage_container_thumbnail div h2
{
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    line-height: 30px;
}
.homepage_container_thumbnail p
{
    color: #000;
    text-align: justify;
}

#heading .span12
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}
#heading .span12 h1
{
    font-size: 45px;
    font-family: bebasneueregular ;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 0px 2px 5px #000;
    color: #fff;
}

@media (min-width: 768px) and (max-width: 979px) {

    .logo img
    {
        width: 100%;
    }
}



