#add_pg {
    min-height: 200px;
    border: 1px solid #CCC;
    padding: 5px;
}
.block-box{
    width: 1140px;
    margin: auto;
}

.left-column{
    width: 970px;
    height: 28px;
    padding: 10px;
    border-right: thin solid #ddd;
    float: left !important;
    margin-right: 2px;
}
.divider{
    width: 1px;
    font-size: 38px;
    height: 28px;
    border-left: thin solid #ddd;
    margin: 0 10px 0 6px;
}

.center-column{
    width: 200px !important;
    height: 28px;
    padding: 10px;
    margin-left: 932px;
}


.ui-autocomplete {
    position: absolute;
    left: 0px;
    top:-2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 26px 0px 0px 0px;
    width: 200px;
    color: #fff;
    display: none;
    padding: 0 0 0 0;
}
ul.ui-autocomplete{
    list-style:none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #000;
}
.ui-menu-item {
}
.ui-menu-item a:hover {
    background-color: #52dbff;
    color:#000;
}
.ui-menu-item a {
    display: block;
    text-indent:  4px;
    width: 100%;
    color: #FFF;
    text-decoration: none;
    padding: 6px 0 6px 0;
    border-bottom:1px solid #666;
}

.ui-autocomplete-loading {
    background: white url('loader.gif') right center no-repeat;
}

.to_user_first{
    margin-left: 20px;
}

.error{
    border: thin solid #ff0000;
}

p.error-p{
    color: #ff0000;
}

.tooltip{
    margin-left: 70px !important;
}

.cross{
    background: white url('cross.png') no-repeat;
    height: 20px;
    width: 20px;
    margin: 8px 10px 0 0;
    float: left;
}

.check{
    background: white url('check.png') no-repeat;
    height: 20px;
    width: 20px;
    margin: 8px 10px 0 0;
    margin-left: 110px !important;
}

.load{
    background: white url('loader.gif') no-repeat;
    height: 20px;
    width: 20px;
    margin: 8px 10px 0 0;
    margin-left: 110px !important;
}
.truncate {
    width: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.th_bg{
    background: #333;
    color: #fff;
}
.arrow_btn{
    background: #84c225;
    color: #000;
}
.table tbody tr:hover td,.table tbody tr:hover th
{
    background-color: #84c225 !important;
}
.table tbody tr td {
    border-top: 1px solid #84c225;
}
.btn-infos{
    background: #84c225;
    color: #000;
    font-weight: bold;
}
.table tbody tr:hover td .btn-infos
{
    background: #000;
       color: #fff;
}
.btn-infos:hover
{
    background: #fff !important;
    color: #000 !important;
}
#user_table tr td
{
    border: 1px solid #84c225;
}
.pagination ul > li > a, .pagination ul > li > span {
    background-color: #84c225;
    color: #000;
    border-color: #000;
}
.pagination ul > li > a:hover, .pagination ul > .active > span {
    background-color: #000;
    color: #84c225;
}
.pagination ul > .active > a {
    color: #84c225;
}
.btn-black{
    background: #000;
    color: #fff;
}
.hero_unit
{
    width: 100%;
    background: #84c225;
    border-radius: 5px;
    box-shadow: 0px 1px 8px #000;
    padding-top: 10px;
    padding-bottom: 10px;
}