<input type="button" value="Save All" class="btn btn-success pull-right" id = "save_all_user" /><input type="button" value="Assign User" class="btn btn-success pull-right" id = "assign_user" />
<div class="clearfix"></div>
<div class="content" id="assign_user_content">
</div>
