<div class="pull-right">
  <%= datepicker_input "user_feedback","created_at", :id => "datepicker" %>
  <%= link_to "search", nil, :class => "btn btn-info", :style => "margin-top:-9px; margin-left:-4px;", :remote => true, :id => "assigned-search" , :rel => @user.id %>
</div>
<div id="assigned_feedback">
<%= render :partial => "assigned_feedback", :locals => {:feedbacks => @feedbacks, :user => @user, :begin_date => nil, :end_date => nil} %>
</div>