<div class="pull-right">
  <%= text_field "user_feedback","created_at", :id => "datepicker" %>
  <%= link_to "search", nil, :class => "btn btn-info", :style => "margin-top:-9px; margin-left:-4px;", :remote => true, :id => "given-search" , :rel => @user.id %>
</div>
<div id="given_feedback">
  <%= render :partial => "from_feedback", :locals => {:feedbacks => @feedbacks, :user => @user,  :begin_date => @begin_date.strftime("%d-%b-%Y"), :end_date => @end_date.strftime("%d-%b-%Y")} %>
</div>