<!--<div class="pull-right">-->
  <!--<input type="text" data-behaviour='datepicker' id="datepicker" >-->
  <!--<%#= link_to "search", nil, :class => "btn btn-info", :style => "margin-top:-9px; margin-left:-4px;", :remote => true, :id => "received-search" , :rel => @user.id %>-->
<!--</div>-->
<div id="received_feedback">
  <%= render :partial => "to_feedback", :locals => {:users => @users, :feedbacks => @feedbacks, :user => @user,  :begin_date => @begin_date, :end_date =>  @begin_date.end_of_week,:next_month_begin_date => @begin_date.next_week.next_month.beginning_of_month.beginning_of_week , :next_month_end_date => @begin_date.next_week.next_month.beginning_of_month.end_of_week} %>
</div>